<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->

  <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->
  <targets>
    <target xsi:type="File" name="debugFileTarget" keepFileOpen="true" createDirs="true" openFileCacheTimeout="30" maxArchiveFiles="10"
            footer="${newline}" fileName="${basedir}/logs/${shortdate}_debug.log" layout="[${longdate}::${uppercase:${level}}|${callsite}] ${message}" />
    <target xsi:type="File" name="defaultFileTarget" keepFileOpen="true" createDirs="true" openFileCacheTimeout="30" maxArchiveFiles="10"
            footer="${newline}" fileName="${basedir}/logs/${shortdate}.log" layout="[${longdate}::${uppercase:${level}}] ${message}" />
    <target name="debuggerTarget" xsi:type="Debugger" layout="${callsite}::${message}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="defaultFileTarget" />
    <logger name="*" writeTo="debugFileTarget" />
    <logger name="*" writeTo="debuggerTarget" />
  </rules>
</nlog>